@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveLines {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.animate-move-lines {
  animation: moveLines 3s ease-in-out infinite alternate;
}
